.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    gap: 12px;
}

.text {
    font-size: 35px;
    color: white;
    font-weight: 600;
}

.btn {
    padding: 20px 40px;
    font-size: 25px;
    border-radius: 12px;
    background-color: #61dafb;
    color: #282c34;
    font-weight: 700;
}

